{
  "Entries": [
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"South Africa North\",\r\n        \"West US\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\"[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourcegroups/ps652?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652\",\r\n  \"name\": \"ps652\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/virtualNetworks/ps7650?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps7650' under resource group 'ps652' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/virtualNetworks/ps7650?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"c2f64298-6305-4371-ae1f-725593c76b61\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7650\",\r\n  \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/virtualNetworks/ps7650\",\r\n  \"etag\": \"W/\\\"c2f64298-6305-4371-ae1f-725593c76b61\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"0f0395f5-00e1-485d-b3ff-ec9e4720d6fd\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps6983\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/virtualNetworks/ps7650/subnets/ps6983\",\r\n        \"etag\": \"W/\\\"c2f64298-6305-4371-ae1f-725593c76b61\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/virtualNetworks/ps7650?api-version=2019-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"name\": \"ps6983\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/providers/Microsoft.Network/locations/eastus2euap/operations/017c9d75-6c44-4d42-a159-d35261d493ca?api-version=2019-02-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7650\",\r\n  \"id\": \"/subscriptions/84c868a2-9a5e-4e[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/providers/Microsoft.Network/locations/eastus2euap/operations/017c9d75-6c44-4d42-a159-d35261d493ca?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/publicIPAddresses/ps9654?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps9654' under resource group 'ps652' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/publicIPAddresses/ps9654?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"dd515d24-6ade-4012-b8df-3c9e3d6e9d1c\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11975"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9654\",\r\n  \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/publicIPAddresses/ps9654\",\r\n  \"etag\": \"W/\\\"dd515d24-6ade-4012-b8df-3c9e3d6e9d1c\\\"\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"608e040f-4b35-4fd4-b76d-d3c2172d6534\",\r\n    \"ipAddress\": \"52.253.225.122\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/publicIPAddresses/ps9654?api-version=2019-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/providers/Microsoft.Network/locations/eastus2euap/operations/5e2a1ac7-5178-4556-8594-a621759fdf6e?api-version=2019-02-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9654\",\r\n  \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/publicIPAddresses/ps9654\",\r\n  \"etag\": \"W/\\\"76f9c9bc-ccd7-4c37-a4c5-72d69f460e8e\\\"\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"608e040f-4b35-4fd4-b76d-d3c2172d6534\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps9793' under resource group 'ps652' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9793\",\r\n  \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793\",\r\n  \"etag\": \"W/\\\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"2c625578-2d9a-463a-b3f8-c9c72014f8a5\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\"\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps575\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/gatewayIPConfigurations/ps575\",\r\n        \"etag\": \"W/\\\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/virtualNetworks/ps7650/subnets/ps6983\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps8356\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/frontendIPConfigurations/ps8356\",\r\n        \"etag\": \"W/\\\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/publicIPAddresses/ps9654\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/httpListeners/ps7256\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps491\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/frontendPorts/ps491\",\r\n        \"etag\": \"W/\\\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/httpListeners/ps7256\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps7824\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/backendAddressPools/ps7824\",\r\n        \"etag\": \"W/\\\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/requestRoutingRules/ps8705\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps132\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/backendHttpSettingsCollection/ps132\",\r\n        \"etag\": \"W/\\\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\": \"Disabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/requestRoutingRules/ps8705\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps7256\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/httpListeners/ps7256\",\r\n        \"etag\": \"W/\\\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/frontendIPConfigurations/ps8356\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/frontendPorts/ps491\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"requireServerNameIndication\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/requestRoutingRules/ps8705\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      }\r\n    ],\r\n    \"urlPathMaps\": [],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"ps8705\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/requestRoutingRules/ps8705\",\r\n        \"etag\": \"W/\\\"a15120c7-003c-4a67-ae01-890c7f0d6ee4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"ruleType\": \"Basic\",\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/httpListeners/ps7256\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/backendAddressPools/ps7824\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/backendHttpSettingsCollection/ps132\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n      }\r\n    ],\r\n    \"probes\": [],\r\n    \"rewriteRuleSets\": [],\r\n    \"redirectConfigurations\": [],\r\n    \"autoscaleConfiguration\": {\r\n      \"minCapacity\": 3\r\n    },\r\n    \"customErrorConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793?api-version=2019-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\"\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/virtualNetworks/ps7650/subnets/ps6983\"\r\n          }\r\n        },\r\n        \"name\": \"ps575\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/gatewayIpConfigurations/ps575\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"trustedRootCertificates\": [],\r\n    \"sslCertificates\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/publicIPAddresses/ps9654\"\r\n          }\r\n        },\r\n        \"name\": \"ps8356\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/frontendIpConfigurations/ps8356\"\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"properties\": {\r\n          \"port\": 80\r\n        },\r\n        \"name\": \"ps491\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/frontendPorts/ps491\"\r\n      }\r\n    ],\r\n    \"probes\": [],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"backendIPConfigurations\": [],\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"ps7824\",\r\n        \"id\": \"/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/backendAddressPools/ps7824\"\r\n      }\r\n    ],\r\n    \"backendHttpSetti[...]
[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/resourceGroups/ps652/providers/Microsoft.Network/applicationGateways/ps9793/getBackendHealthOnDemand?api-version=2019-02-01&$expand=getBackendHealthOnDemand%2Fapplicationgatewayresource",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"protocol\": \"Http\",\r\n  \"path\": \"/\",\r\n  \"timeout\": 30,\r\n  \"pickHostNameFromBackendHttpSettings\": true,\r\n  \"backendPoolName\": \"ps7824\",\r\n  \"backendHttpSettingName\": \"ps132\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/providers/Microsoft.Network/locations/eastus2euap/operationResults/3fdd5338-ac29-4ac3-a205-7e6b1f0cd842?api-version=2019-02-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/providers/Microsoft.Network/locations/eastus2euap/operationResults/3fdd5338-ac29-4ac3-a205-7e6b1f0cd842?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/providers/Microsoft.Network/locations/eastus2euap/operationRes[...]
[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY1Mi1FQVNUVVMyRVVBUCIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMmV1YXAifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY1Mi1FQVNUVVMyRVVBUCIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMmV1YXAifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/84c868a2-9a5e-4e5d-95d7-d44b266f6b8a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY1Mi1FQVNUVVMyRVVBUCIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMmV1YXAifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ApplicationGatewayOnDemandHealthProbe": [
      "ps652",
      "ps9793",
      "ps7650",
      "ps6983",
      "ps9654",
      "ps575",
      "ps491",
      "ps8356",
      "ps7256",
      "ps7824",
      "ps132",
      "ps8705",
      "ps8880"
    ]
  },
  "Variables": {
    "SubscriptionId": "84c868a2-9a5e-4e5d-95d7-d44b266f6b8a"
  }
}